@tailwind base;
@tailwind components;
@tailwind utilities;


/* Limit image size inside the Quill editor */
.ql-editor img {
  max-width: 100%; /* Images will scale to fit the width of their container */
  height: auto;    /* Maintain the aspect ratio of the images */
  max-height: 300px; /* Set a maximum height for images */
}
.todo-list img {
  max-width: 100%; /* Images will scale to fit the width of their container */
  height: auto;    /* Maintain the aspect ratio of the images */
  max-height: 300px; /* Set a maximum height for images */
}

.ql-editor a {
  color: #007bff; /* Default link color */
  text-decoration: underline; /* Optional: underline links */
}

.ql-editor a:hover {
  color: #0056b3; /* Hover color */
}

.special-characters-picker {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.character-button {
  /* background: transparent; */
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}

.ql-toolbar .ql-special {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}

.ql-toolbar .ql-special:hover {
  background-color: #e0e0e0;
}

